body {
  width:100%;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.content {
  width:50em;
  margin:0 auto;
  margin-top:7rem;
  margin-bottom:7rem
}

.navbar {
  overflow:hidden;
  background-color:#202020;
  position:fixed;
  top:0;
  width:100%;
  padding-left: calc(50% - 30em);
  padding-right: calc(50% - 30em);
}

.navbar a {
  font-size:1.2em;
  text-align:center;
  text-decoration:none;
  float:left;
  display:block;
  color:#fff;
  padding:1em;
}

.navbar a:hover{
  background:#aaa;
  color:#000;
}

.footer {
  position:fixed;
  bottom:1em;
  width:100%;
  text-align:center;
}

.footer a {
  font-size:1.2em;
  text-decoration:none;
  padding:1em;
  color:#000;
}

@media only screen and (max-width:50em) {
  /*For small*/
  .content {
    width:80%;
    padding:10%;
    margin-left:0;
    margin-right:0;
    padding-top:0;
  }
}
